.wrapper {
    display: flex;
    flex-direction: column;

    .line {
        background-image: linear-gradient(47.99deg, #2E8174 0%, #30A996 42.53%, #00FFD9 100%);
        width: 200px;
        height: 2px;
        border-radius: 4px;
        margin: 31px auto;

        @include media-breakpoint-up(lg) {
            margin: 45px 0;
        }
    }

    .text {
        color: #000000;
        font-family: 'Montserrat';
        font-weight: 500;
        font-size: 18px;
        line-height: 21.94px;
        width: 289px;
        margin-bottom: 17px;
        align-self: center;
        text-align: center;

        @include media-breakpoint-up(md) {
            width: 433px;
            font-size: 28px;
            line-height: 34.14px;
            text-align: center;
        }

        @include media-breakpoint-up(lg) {
            font-size: 40px;
            width: 780px;
            line-height: 48.76px;
            text-align: justify;
            margin-bottom: 43px;
        }
    }

    .text-content {
        display: flex;
        flex-direction: column;
        align-items: center;

        .image {
            display: flex;
            flex-direction: column;
            align-items: center;
            padding-bottom: 20px;

            img {
                width: 70px;
                height: 70px;
                margin-bottom: 10px;

                @include media-breakpoint-up(md) {
                    width: 100px;
                    height: 100px;
                }

                @include media-breakpoint-up(lg) {
                    width: 127px;
                    height: 127px;
                }
            }

            .other-text {
                color: #000000;
                font-family: 'Montserrat';
                font-weight: 500;
                font-size: 16px;
                line-height: 30px;
                width: 114px;

                @include media-breakpoint-up(md) {
                    font-size: 20px;
                    line-height: 24px;
                    width: 144px;
                }

                @include media-breakpoint-up(lg) {
                    width: 175px;
                    font-size: 25px;
                }
            }
        }

        .paragraphe {
            color: $color-gray-medium;
            font-family: 'Open Sans';
            font-size: 14px;
            line-height: 19.7px;
            // width: 298px;
            width: 100%;
            text-align: justify;
            margin-bottom: 40px;
            font-weight: 600;

            @include media-breakpoint-up(md) {
                font-size: 17px;
                line-height: 23.15px;
                width: 575px;
                font-weight: 600;
            }

            @include media-breakpoint-up(lg) {
                line-height: 25.87px;
                font-size: 19px;
                width: 298px;
                margin-bottom: 70px;
                font-weight: 500;
            }
        }
    }

    .btn {
        background-image: linear-gradient(47.99deg, #2E8174 0%, #30A996 42.53%, #00FFD9 100%);
        border-radius: 7px;
        border: none;
        width: 206px;
        height: 37px;
        color: #000000;
        font-family: 'Montserrat';
        font-size: 12px;
        line-height: 16.34px;
        text-align: center;
        align-self: center;
        margin-bottom: 75px;
        font-weight: 600;

        @include media-breakpoint-up(md) {
            width: 267px;
            height: 50px;
            font-size: 15px;
            border-radius: 7px;
        }

        @include media-breakpoint-up(lg) {
            width: 297px;
            height: 50px;
            font-size: 16px;
            line-height: 19px;
            border-radius: 15px;
        }
    }
}